/* text color */
a{
    color: purple;
}

/* background color */
.bg-secondary {
    background-color: #fff !important;
}

/* land page */
.btn-landing {
    margin: auto;
    /* width: 80vw; */
    height: 30vh;
}

.btn-landing-color {
    margin: auto;
    width: 100%;
    height: 30vh;
    background-color: purple;
    color: white;
    border-radius: 1rem;
}

@media (min-width: 768px) {
    .masthead {
        padding-top: calc(1.5rem + 74px);
        padding-bottom: 1.5rem;
      }
    .btn-landing-color {
      width: 100%;
    }
  }